@model GJF.Domain.Models.User.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="col-md-12">
    <div class="col-md-offset-3 col-md-6">
        @using (Html.BeginForm("Login", "Account", new { returnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login-form", role = "form" }))
        {
            @Html.AntiForgeryToken()

            @*@Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)*@
            <div class="col-md-12">
                <h3 class="form-title text-primary text-center pagination-centered">ავტორიზაცია</h3>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="alert alert-danger display-hide">
                    <button class="close" data-close="alert"></button>
                    <span> @Html.ValidationSummary(true, "", new { @class = "text-danger" }) </span>
                </div>


                <div class="form-group">
                    <input type="text" id="demo" name="Username" class="form-control form-control-solid placeholder-no-fix" placeholder="მომხმარებელი" />
                    @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })

                </div>

                <div class="form-group">
                    <input type="password" id="demo1" name="Password" class="form-control form-control-solid placeholder-no-fix" placeholder="პაროლი" />

                </div>

                <div class="form-actions">
                    <input type="submit" class="btn blue uppercase" style="width: 100%;" value="შესვლა" />
                </div>

            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}